streamlit
pillow
numpy==1.26.4
pandas

# OpenCV: headless di Linux (Cloud), non-headless di OS lain (opsional)
opencv-python-headless==4.6.0.66; platform_system == "Linux"
opencv-python==4.6.0.66; platform_system != "Linux"

# Paddle: pin versi yang stabil untuk PPStructure
paddlepaddle==3.0.0
paddleocr==2.7.0.3
